__pycache__/
*.py[cod]
*$py.class
venv/
fastapi-env/
.DS_Store
.env/
.env
.env.*
!.env.example
.vscode/
build/
dist/
.pytest_cache/
.sql
*.dump
.db
.sqlite3
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/dist/
frontend/node_modules/
*.code-workspace